Demos/MyContosoUniversity/ContosoUniversity/obj/
Demos/MyContosoUniversity/ContosoUniversity/bin/
Demos/MyContosoUniversity/ContosoUniversity/Properties/PublishProfiles/
DemosByOthers/ContosoUniversity_tdykstra/C#/ContosoUniversity/obj/
